//- layout.pug
doctype html
html
  head
    title passbook-server | browse
    link(rel='stylesheet', href='/styles/bootstrap4.min.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/styles/styles.css')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    block styles
      //-styles
  body(unresolved)

    //- Navbar
    nav.navbar.navbar-dark.bg-dark.mb-2
      a.navbar-brand(href='/_browse') passbook-server

    //- Content
    main
      block content

    script(src='/scripts/jquery.min.js')
    script(src='/scripts/tether.min.js')
    script(src='/scripts/bootstrap.min.js')
    script(src='/scripts/pouchdb.min.js')

    block scripts
      //-scrit
