#%RAML 1.0
title: passbook-server
version: v1
#baseUri: https://passbook-server.run.aws-usw02-pr.ice.predix.io/api/{version}
baseUri: http://localhost:5353/api/v1
baseUriParameters:
  version:
    type:
      - string
    default: v1
protocols:
  #- HTTPS
  - HTTP
mediaType: application/json
types:
  Pass:
    type: object
    properties:
      id: number
      _id: string
      logoText: string
      description: string
      type:
        default: generic
      locations?: array
      maxDistance: number
      labelColor: string
      foregroundColor: string
      backgroundColor: string
      suppressStripShine: boolean
      authenticationToken: string
      organizationName: string
      passTypeIdentifier: string

      teamIdentifier: string

      serialNumber: string
      webServiceURL: string
      formatVersion: number
      lastUpdated: number



      barcode:
        type: object
        required: false
  Registration:
    type: object
    properties:
      id: number
      optional?: string
      expanded:
        type: object
        properties:
          count: number
  Device:
    type: object
    properties:
      id: number
      optional?: string
      expanded:
        type: object
        properties:
          count: number



/devices/{deviceId}/registrations/{passTypeIdentifier}/{serialNumber}:
  description: |
    Any time the pass is updated, your server sends a push notification with an empty JSON dictionary as the payload to the device using the given push notification token. This process continues until the device is explicitly unregistered (as described in Unregistering a Device).
  uriParameters:
    deviceId:
      type:
        - string
      example: fbbb0ae201d1378b639f96f9381c3675
      description: A unique identifier that is used to identify and authenticate this device in future requests.
      isAnnotation: false
      default: 91bff270f6ac161abb2fe786efe585cf
    passTypeIdentifier:
      type:
        - string
      description: The pass type identifier as specified in the pass.
      default: pass.io.passbookmanager.test
    serialNumber:
      type:
        - string
      default: 0000-0000-0000-7
      description: The pass’s serial number, as specified in the pass.
  post:
    body:
    responses:
      200:
        description: If the serial number is already registered for this device, returns HTTP status 200.
        displayName: Registration returned
        body:
          application/json:
            example: |
              {
                "message": "value"
              }
      201:
        description: If registration succeeds, returns HTTP status 201.
        displayName: Registration created
        body:
          application/json:
            example: |
              {
                "message": "value"
              }
      401:
        description: If the request is not authorized, returns HTTP status 401.
        displayName: Unauthorized
        body:
          application/json:
            example: |
              {
                "message": "value"
              }
  get:
    body:
      application/json:
    responses:
      200:

/passTypeIdentifier:
  description: Create a new passTypeIdentifier and .pem file generated.
  post:
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "message" : "Hello World"
              }
    body:
      multipart/form-data:
        type:
          - string
/admin/db:
  get:
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "message" : "Hello World"
              }
/admin/passes/{id}:
  uriParameters:
    id: string
  get:
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "message" : "Hello World"
              }
