extends ./includes/layout.pug
//- Mixins
mixin card(pass)
	.col-md-4.col-sm-6
		.card
			.card-block
				img(src='/images/' + pass.type + '.png').mr-2.float-sm-left
				h4.card-title=pass.organizationName
				p.card-text=pass.description
				a(href='/_browse/'+pass._id) View

block content
	.jumbotron.jumbotron-fluid
		.container
			h1.display-3 Browse
			p.lead
				| Here is all the available passes.
	.container-fluid
		.row.passes
			each pass in passes
				+card(pass)
				//- a(href='/_browse/'+pass.doc._id)=pass.doc.description


block scripts
	script.
		document.addEventListener('WebComponentsReady', function(){
			console.log('WebComponentsReady');
		});
