//- layout.pug
doctype html
html
  head
    title passbook-server | browse
    //-link(rel='stylesheet', href='/styles/bootstrap.min.css')

    link(rel='stylesheet', href='/styles/styles.css')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

    script(src='/webcomponentsjs/webcomponents-lite.min.js')
    link(rel='import', href='/elements/elements.html')
  body(unresolved)
    block content
      div
    script(src='/scripts/jquery.min.js')
    script(src='/scripts/tether.min.js')
    script(src='/scripts/bootstrap.min.js')
    script(src='/pouchdb/dist/pouchdb.min.js')

    block scripts
      //-scrit
